body {


}

.top-nav {
  /* display: flex; */
  background-color: lightgrey;
}

.low-nav {
  background-color: lemonchiffon;
}

.lnav-logo {
  border: 2px solid white ;
  margin: 5px;
  max-width: 100px;
}

.login {
  margin-left:auto;
}

.main,
.login,
.low-nav,
.footer ul,
.footer ul li,
.right_column2,
.left_column ul li {
  display: flex;
}

footer {
  background-color: lightcyan;
}

footer ul {
  flex-direction: row;
  color: purple;
  ;
}

/* footer ul li {
  /* flex-direction: row; */
  /* background-color: green;
  justify-content: space-around;

} */ 

a {
  margin: 0 10px;
}

a:hover {
  font-weight: bold;
}


a:visited {
  color: grey;
}


.left_column ul {
  list-style-type: none;
  padding: 0;
}

.left_column ul li {
  /* display: flex; */
  justify-content: space-around;
  margin: 20px 0;
  background-color: lightpink;
}


.right_column2 {
  flex-direction: column;
}

.login {
  /* display: flex; */
  flex-direction: column;
  background-color: palegreen;
  border: 1px solid green;
  padding:10px 10px;
  margin: 10px 10px;
}
