<div>
  <strong>Comment: </strong>
  <!-- <p>  here is some text just to see that it ends up on the screen </p> -->
  <%= comment.text %>

  <p>
    <strong>Comment created by:</strong>
    <%= comment.user.username %>
  </p>

  <% if current_user == comment.user  %>
    <div class="comment-admin">
      <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
      <%= link_to "Delete", [@post, comment] , method: :delete %>
      <br>
      <br>
    </div>
  <% end %>



</div>
