<main>

  <div class="login">
    <div>
      <lable for ="usnam">Username: </lable>
      <input type="text" name="username" id="usnam">
    </div>
    <div>
      <lable for ="pwd">Password: </lable>
      <input type="text" name="password" id="pwd">
    </div>
  </div>

  <div class="search">
    <textarea name="search-field" rows="1" cols="40" id="txt">Search</textarea>
  </div>

  <div class="posts">
    <div class="votes">
      <p>Ranking</p>
      <input type="radio" name="vote" value="up" id="vup"> Vote Up<br>
      <input type="radio" name="vote" value="down" id="vd"> Vote Down<br>
    </div>

    <img src="/app/assets/images/banana-2449019_640.jpg" alt="item picture" class="picture">

    <div class="item-details">
      <h1>item header</h1>
      <p> In a arcu neque. Praesent tellus purus, elementum vitae dapibus egestas, tincidunt nec nibh. Nam id tincidunt ex. Integer et vehicula eros. Phasellus mollis in elit id feugiat. In nec luctus nisl.</p>
      <a href="#target" >number of comments</a>
      <a href="#target" >Comments</a>
      <a href="#target" >share</a>
      <a href="#target" >save</a>
      <a href="#target" >hide</a>
      <a href="#target" >report</a>
    </div>
  </div>

  <div class="posts">
    <div class="votes">
      <p>Ranking</p>
      <input type="radio" name="vote" value="up" id="vup"> Vote Up<br>
      <input type="radio" name="vote" value="down" id="vd"> Vote Down<br>
    </div>

    <img src="img/banana-3144541_640.jpg" alt="item picture" class="picture">

    <div class="item-details">
      <h1>item header</h1>
      <p> In a arcu neque. Praesent tellus purus, elementum vitae dapibus egestas, tincidunt nec nibh. Nam id tincidunt ex. Integer et vehicula eros. Phasellus mollis in elit id feugiat. In nec luctus nisl.</p>
      <a href="#target" >number of comments</a>
      <a href="#target" >Comments</a>
      <a href="#target" >share</a>
      <a href="#target" >save</a>
      <a href="#target" >hide</a>
      <a href="#target" >report</a>
    </div>
  </div>

</main>
